# Format Style Options - Created with Clang Power Tools
---
AllowShortFunctionsOnASingleLine: None
BasedOnStyle: WebKit
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
ColumnLimit: 160
IndentWidth: 8
ObjCBreakBeforeNestedBlockParam: true
ReflowComments: false
SortIncludes: false
UseTab: Always
...
